@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

